/* Global Styles */
body {
    margin: 0;
    padding: 0;
    width: 300px;
    font-family: "Inter", "Roboto", sans-serif;
    background: linear-gradient(to right, #1d2671, #c33764);
}

.container {
    padding: 0.6rem;
    text-align: center;
    color: white;
    border-radius: 50%;
}

.title {
    font-size: 0.8rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Responsive design */
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(to right, #1d2671, #c33764);
        color: white;
    }
}

/* Gmail-specific styles */
body[data-page="gmail"] {
    background: linear-gradient(to right, #1d2671, #c33764);
}

body[data-page="other"] {
    background: linear-gradient(45deg, #1d2671, #c33764);
    opacity: 0.8;
}
